<html>
	<head><title>Node status</title></head>
	<body>
		<h1>Status of the nodes</h1>
		<div>
		{{ ^hosts }}No hosts to monitor!{{ /hosts }}
		<ul>
		{{ #hosts }}
			<li>{{def.host}} - {{ #app }} {{version }} {{ /app }} : {{status}}</li>
		{{ /hosts }}
		</ul>
		</div>
	</body>
</html>
